<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.permissionlibrary">

    <application>
        <activity android:name="permison.PermissionsActivity"
            android:theme="@style/NoTitleTranslucentTheme"
            />
    </application>

</manifest>
